body {
    background-color: white;
}
.left{
    float: left;
    position: fixed;
    margin-top: 25%;
    width: 19%;
    border: solid;
    border-color: black;
    
}
#pic{
    width: 100%;
    z-index: 2;
    top: 0px;
    position: fixed;
    text-align: center;
}

#name{
    position: fixed;
    z-index: 3;
    top: 25%;
    left: 50%;
    color: white;
}

.main{
    position: absolute;
    margin-left: 20%;
    margin-top: 25%;
    border: solid;


}
